@font-face {
    font-family: "IRANSansX";
    src: url("./assets/fonts/woff2/IRANSansX-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "IRANSansX";
    src: url("./assets/fonts/woff2/IRANSansX-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "IRANSansX";
    src: url("./assets/fonts/woff2/IRANSansX-light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "IRANSansX";
    src: url("./assets/fonts/woff2/IRANSansX-thin.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "IRANSansX", sans-serif;
    
}

.home{
    font-size: 16px;
    font-weight: 600;
}

.color{
    font-size: 12px;
    color: #2B2B2B;
    font-weight: 400;
}

.try{
    font-size: 12px;
    color: #9C9C9C;
    font-weight: 400;
    
}

.my-col{
    font-size: 16px;
    color: #808080;
}

.test{
    font-weight: 500;
    font-size: 16px;
}