@font-face {
    font-family: "IRANSansX";
    src: url("./assets/fonts/woff2/IRANSansX-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "IRANSansX";
    src: url("./assets/fonts/woff2/IRANSansX-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "IRANSansX";
    src: url("./assets/fonts/woff2/IRANSansX-light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "IRANSansX";
    src: url("./assets/fonts/woff2/IRANSansX-thin.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "IRANSansX", sans-serif;
    
}


.text{
    border:1px solid #C7F1D4;
    background-color: #F4FCF6;
    font-size: 14px;
    letter-spacing: 0.1px;
    

}

.home{
    color: #9C9C9C;
}