@font-face{
    font-family: ;
}

.color{
    border: 1px solid #C7F1D4;
    width: 275px;
    height: 88px;
   
}

.text{
    width: 32px;
    height: 32px;
}

.color p{
    color: #2B2B2B;
    font-size: 14px;
    
}



.home{
    color: #9C9C9C;
    font-size: 12px;
}